{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
	<p>Si vous souhaitez contribuer au site, merci de nous envoyer un mail pour vous faire connaitre à <b>{{ twig_admin_mail }}</b> sans oublier de mentionner votre nom d'utilisateur.</p>
	<p>N'hésitez pas à consulter la <a href="{{ path('fda_site_faq') }}">FAQ</a> pour toute question</p>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}
    {% endif %}
{% endblock fos_user_content %}